<h1>User Log Dashboard</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        User Name
      </th>
      <th>
        Day
      </th>
      <th>
        Miles
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @user_logs %>
  </tbody>
</table>
