<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase.truncate_words(6), blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago by <%= link_to blog.user.name.upcase %></p>
  
  <p><%= blog.body.truncate_words(10) %></p>
</div>
