<header class="masthead">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Edit Blog</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>

<div class="card" style="width: 65rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= render 'form', blog: @blog %>

        <div class="auth-link">
          <%= link_to 'Back', blogs_path %>
        </div>  
    </div>
  </div>
</div>
