<header class="masthead">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog Page</h1>
            <span class="subheading">Join in on the conversation!</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>

  <%= link_to 'Create Blog', new_blog_path if logged_in?(:site_admin) || logged_in?(:user) && current_user.try(:name) != "Guest User"%>
  
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        All Blogs
      </h3>
      <%= render @blogs %>
      <%= paginate @blogs %>
    </div>
      <%= render 'shared/blog_sidebar' %>
  </div>
</main>

