<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i><%= link_to fa_icon('plus-square-o'), new_activity_url if logged_in?(:site_admin)  %></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <strong><i class="nav-link">Activities:</i></strong>
        </li>
        <li class="nav-item">
          <%= link_to "All Activities", activities_path, class: "nav-link" %>
        </li>
        <% @sidebar_types.each do |type| %>
        <li class="nav-item">
          <%= link_to type.title, type_path(type), class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>




