<div class="container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
      <button class="btn"><%= link_to fa_icon('fa-plus-square-o'), new_activity_url if logged_in?(:site_admin) %></button>
      <button class="btn active" ><%= link_to "All Activities", activities_path %></button>
      <% @sidebar_types.each do |type| %>
        <button class="btn" ><%= link_to type.title, type_path(type) %></button>
      <% end %>
    </a>
  </nav>
</div>


