<footer class="container py-1">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted"><%= my_copyright %></small>
    </div>
    <p><a href="mailto:belalkamara@gmail.com?subject=Miles Up User" "email us" class="d-block mb-3 text-muted">Email Us</a></p>
</footer> 