<div class="p-3">
  <h4 class="font-italic">Topic</h4>
  <ol class="list-unstyled mb-0">
    <li><%= link_to "All Blogs", blogs_path %></li>
    <li><a href="/topics/4">Bad Day</a></li>
    <li><a href="/topics/5">Look What I Did</a></li>
    <li><a href="/topics/6">Advice</a></li>
    <li><a href="/topics/7">Misc.</a></li>
  </ol>
</div>