<div class="p-3">
  <h4 class="font-italic">Topic</h4>
  <ol class="list-unstyled mb-0">
    <li><a href="#">Bad Day</a></li>
    <li><a href="#">Look What I Did</a></li>
    <li><a href="#">Advice</a></li>
    <li><a href="#">Misc.</a></li>
  </ol>
</div>