<section>
  <div class="inner cover">
    <div class="container">
      <div class="row">
        <div class="tweets">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card">
                  <div class="media">
                    <i class="mr-3 fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    <div class="media-body">
                      <h5 class="mt-0">Live Tweets</h5>
                        <%= twitter_parser SocialTool.twitter_search.first %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="media">
                    <i class="mr-3 fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    <div class="media-body">
                      <h5 class="mt-0">Live Tweets</h5>
                        <%= twitter_parser SocialTool.twitter_search.second %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="media">
                    <i class="mr-3 fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                    <div class="media-body">
                      <h5 class="mt-0">Live Tweets</h5>
                        <%= twitter_parser SocialTool.twitter_search.third %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>        
</section>