<%= render 'shared/user_dash_nav' %>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
