@import "bootstrap";

body {
  padding-top: 3.5rem;
}

/*
 * Custom Styles
 */

.card-body {
  background-color: #F5F5F5;

}

.card {
  padding: 40px 40px 40px 40px;
}

.auth-link {
  padding-top: 5px;
}