<header class="masthead">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Activity Page</h1>
            <span class="subheading">Where You Can Join or Create Events</span>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>



<div>
  <%= render 'shared/activity_search_bar' %>
</div>

<div class="album py-5">
  <div class="container">
    <div class="row">

      <%= render partial: 'activity_event', collection: @activity_events %>   
    </div>
    <%= paginate @activity_events %>
  </div>
</div>

